# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg
.wheel/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
.pytest_cache/
.tox/
.coverage
htmlcov/
.cache
nosetests.xml
coverage.xml

# Mypy / type checking
.mypy_cache/
.dmypy.json

# PyCharm / VS Code
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Python tooling
*.log

*.wav
*.mp3