pywin32
#comtypes
winrt-runtime
winrt-Windows.Media.SpeechSynthesis
winrt-Windows.Storage.Streams
winrt-Windows.Foundation
winrt-Windows.Foundation.Collections
google-genai #google AI SDK
librosa
soundfile